*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding-top: 80px;
}

.header {
    width: 100%;
    text-align: center;
    padding: 20px 0;
    background-color: #f0f0f0;
    border-bottom: 1px solid #ddd;
    position: fixed;
    top: 0;
    z-index: 1000; 

.header h1 {
    margin: 0;
    font-size: 36px;
    color: #1a73e8;
}

.container {
    display: flex;
    width: 100%;
    max-width: 1200px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background-color: #fff;
}

.left {
    flex: 1;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.left form {
    display: flex;
    flex-direction: column;
}

.left h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.left input[type="text"],
.left select {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #dddfe2;
    border-radius: 5px;
    font-size: 16px;
}

.left .radio-group {
    margin: 20px 0;
}

.left .radio-group label {
    display: block;
    margin: 5px 0;
}

.left button[type="submit"] {
    width: 23%;
    padding: 10px;
    background-color: #1a73e8;
    border: none;
    border-radius: 17px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
}

.right {
    flex: 1;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.right i{
    font-weight: 900;
    margin-bottom: 15px;
    width: 59%;
}

.right .illustration {
    width: 60%;
    margin-bottom: 20px;
}

.right .text-1 {
    font-size: 37px;
    color: #202124;
    margin: 10px 0;
}

.right .text-2 {
    font-size: 15px;
    color: #202124;
    margin: 10px 0;
}



.right .icons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.right .icons i {
    margin: 0 10px;
}
