*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*  */
.container{
    width: 100%;
    background-color: palegoldenrod;
    height: 1500px;
    padding-top: 150px;
} 

.card{
    width: 400px;
    /* height: 550px; */
    /* background-color: aliceblue; */
    margin: auto;

}

.card-header{
    width: 100%;
    /* height: 80px; */
    background-color: blue;
    display: flex;
}

.card-header-left{
    width: 20%;
    height: 80px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-header-left i{
    font-size: 50px;
    color: red;
    

}

.card-header-center{
    width: 70%;
    height: 80px;
    background-color: orange;
}

.card-header-right{
    width: 10%;
    height: 80px;
    background-color: aquamarine;
}

.card-main{
    width: 100%;
    /* height: 350px;
    background-color: black; */
}

.card-main img{
    width: 100%;
    object-fit: cover;
}

.card-footer{
    width: 100%;;
    /* height: 200px;
    background-color: yellow; */
}
.card-footer-content{
    width: 100%;
    height: 150px;
    background-color: red;
}

.list-social{
    width: 100%;
    /* height: 50px;
    background-color: green; */
    display: flex;
}

.social-left{
    width: 50%;
    height: 50px;
    background-color: green;
}
.social-right{
    width: 50%;
    height: 50px;
    background-color: violet;
}